<% if user_signed_in? %>
  <%# for login user %>
  <%= "login as #{current_user.account_name}" %>
  <br>

  <%= link_to new_article_path do %>
    <%= "post your tweet"%>
  <% end %>
  <br>

  <%= link_to destroy_user_session_path, method: "delete" do %>
    <%= "Logout" %>
  <% end %>

<% else %>
  <%# for non login user %>
  <%= "Not login" %>
  <br>

  <%= link_to new_user_session_path do %>
    <%= "Login" %>
  <% end %>
  <br>

  <%= link_to new_user_registration_path do %>
    <%= "Register" %>
  <% end %>
<% end %>

<br><br>

All tweets
<%# show tweet %>
<% Article.all.each do |article| %>
  <% if user_signed_in? %>
    <%# if login user has already liked, class will be `active` %>
    <div class="title">
      <%# show user %>
      <%= link_to "#{article.user.account_name}", user_path(article.user.id)%>
      <%= "(#{article.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M:%S")})：" %>
      <%# show tweet %>
      <%= article.tweet %>
      <%# show like %>
      <span action="<%= create_like_article_path(article) %>" class="like <% if article.likes.find_by(user_id: current_user.id) != nil %>active<% end %>" id="article<%= article.id%>" style="color:blue">Like!<%= article.likes.count %></span>
      <br>
    </div>
  <% else %>
    <%# if login user has not liked yet, class will be `active` %>
    <div class="title">
      <%# show user %>
      <%= "#{article.user.account_name}(#{article.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M:%S")})：" %>
      <%# show tweet %>
      <%= article.tweet %>
      <%# show like %>
      <span action="<%= create_like_article_path(article) %>" class="like" style="color:blue">Like!<%= article.likes.count %></span>
      <br>
    </div>
  <% end %>
<% end %>

<br>
<% if user_signed_in? %>
  Timeline
  <% Article.all.each do |article| %>
    <% if Follow.find_by(following_id: article.user.id, followed_by_id: current_user.id) != nil || article.user.id == current_user.id %>
      <div class="title">
        <%# show user %>
        <%= link_to "#{article.user.account_name}", user_path(article.user.id)%>
        <%= "(#{article.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M:%S")})：" %>
        <%# show tweet %>
        <%= article.tweet %>
        <%# show like %>
        <span action="<%= create_like_article_path(article) %>" class="like <% if article.likes.find_by(user_id: current_user.id) != nil %>active<% end %>" id="article<%= article.id%>" style="color:blue">Like!<%= article.likes.count %></span>
        <br>
      </div>
    <% end %>
  <% end %>
  Notification
  <% Notification.where(notifying_id: current_user.id).each do |notification| %>
    <div class="title">
      <% if notification.article_id != nil %>
        <%= User.find(notification.notified_by_id).account_name %> liked your tweet: <%= Article.find(notification.article_id).tweet %>
      <% else %>
        <%= User.find(notification.notified_by_id).account_name %> followed you
      <% end %>
    </div>
  <% end %>
<% end %>